@font-face {
    src: url(SF-UI-Display-Bold.ttf);
    font-family: SFBold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SFBold";  
    /* height: 100%; */
    overflow: hidden;
}

.navigation {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 2%;
    bottom: 20px;
    width: 40px;
    border-radius: 10px;
    box-sizing: initial;
    background: #9da8b3;
    transition: width 0.8s;
    overflow: hidden;
}

.navigation.active {
    width: 50%;
    z-index: 1;
}
.navigation ul {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%; 
    /* padding-left: 5px; */
    padding-top: 40px;
}
.navigation ul li {
    position: relative;
    z-index: 1;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li a {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
    /* pointer-events: fill; */
}
.navigation ul li a:hover {
    color: black;
}
.navigation ul li.active {
    background: white;
    z-index: 1;
}

.navigation ul li.active a {
    color: #333;
    z-index: 1;
}

.navigation ul li a .icon {
    margin-left: -25%;
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 150%;
    pointer-events: none;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 25%;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #9da8b3;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.toggle.active {
    background: #325b70;
}

.toggle ion-icon {
    position: absolute;
    color: white;
    font-size: 34px;
    display: none;

}

.toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.open {
    display: block;

}

.toggle ion-icon.close {
    display: none;
}

.toggle.active ion-icon.open {
    display: none;
}

section {
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* .firstBlobMorph {
    height: 60px;
    width: 100%;
} */

/* .firstBlobMorph {
    position: relative; 
    height: 0; 
    width: 100%; 
    padding: 0;
    padding-bottom: 100%;
}

.lightblueblob {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
} */

.text {
    position: absolute;
    font-size: 3em;
    margin-left: 20%;
    margin-top: 200px;
    transition: 0.5s;
    color: #333;
} 

.name {
    position: absolute;
    font-size: 1.5em;
    margin-left: 21%;
    margin-top: 270px;
    transition: 0.5s;
}
@media only screen and (min-device-width: 600px) and (max-device-width: 2200px) {
    .text {
        font-size: 5em;
        }
    }

@media only screen and (min-device-width: 600px) and (max-device-width: 2200px) {
    .name {
        font-size: 2em;
        margin-top: 300px;
    }
    }

.text:hover {
    color: #325b70;
    outline-color: aquamarine;
    /* text-shadow: 0 0 10px rgb(82, 157, 255), 0 0 20px #fff; */
    transform: translateY(-5%);
}



.blobs {
    /* position: absolute; */
    z-index: -1;
    height: auto;
    width: 100%;
} 

